.correct {
    color: #008000;
    transition: .5s;
}

.wrong {
    color: #ff0000;
    transition: .5s;
}

@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

.lesson-links{
    background-color: #f00;
    border-radius: 9px;
    padding: 3px 0px;
    text-align: center;
    animation: slideInFromLeft 0.5s ease-out;
}

.lesson-links > a {
    text-decoration: none;
    color: #fff;
}

